[mysqld]
# 基本配置
server-id=1
log-bin=mysql-bin
gtid-mode=ON
enforce-gtid-consistency=ON
log-replica-updates=ON
relay-log=mysqld-relay-bin
report-host=10.18.1.27
report-port=3306
bind-address=0.0.0.0
mysqlx-bind-address=0.0.0.0
#authentication-policy=caching_sha2_password
authentication-policy=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
host_cache_size=0
skip-name-resolve
skip-slave-start
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

# 重要：禁用自动创建系统数据库的事务
#skip-grant-tables

# 先注释掉所有 Group Replication 相关配置
#plugin-load-add=group_replication.so
#group_replication=FORCE_PLUS_PERMANENT
# group_replication_start_on_boot=OFF
# group_replication_bootstrap_group=OFF
# group_replication_local_address="10.18.1.27:33061"
# group_replication_group_seeds="10.18.1.27:33061,10.18.1.28:33061,10.18.1.29:33061"
#group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
# group_replication_single_primary_mode=ON
# group_replication_consistency=EVENTUAL
