services:
  mysql:
    image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/mysql:8.0 
    container_name: mysql
    restart: unless-stopped
    network_mode: host
    environment:
      MYSQL_ROOT_PASSWORD: s<9!Own1z4
    command:
      - --server-id=27 # 唯一的服务器ID，主库为1，从库为2及以上
      - --log-bin=mysql-bin
      - --binlog-format=ROW
      - --expire-logs-days=7
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --log-slave-updates=ON
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --bind-address=0.0.0.0
    volumes:
      - ./data/mysql:/var/lib/mysql
    # ports:
    #   - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-ps<9!Own1z4"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/redis:6.0.9
    container_name: redis
    restart: unless-stopped
    command: [
      "redis-server",
      "--bind", "0.0.0.0",
      "--port", "6379",
      "--protected-mode", "no",
      "--requirepass", "A8K5h7+6!?",
      "--masterauth", "A8K5h7+6!?",
      "--appendonly", "yes",
      "--appendfsync", "everysec",
      "--dir", "/data",
      "--maxmemory", "1gb",
      "--maxmemory-policy", "allkeys-lru",
      "--repl-backlog-size", "64mb",
      "--repl-timeout", "60",
      "--repl-diskless-sync", "no",
      "--loglevel", "notice",
      "--logfile", "/logs/redis.log",
    ]
    volumes:
      - ./data/redis:/data
      - ./logs:/logs
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
    network_mode: host
    # ports:
    #   - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a 'A8K5h7+6!?' ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 3

  etcd:
    image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/etcd:latest
    container_name: etcd
    restart: unless-stopped
    environment:
      - ETCD_NAME=etcd1
      - ETCD_DATA_DIR=/etcd-data
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://10.18.1.27:2379
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://10.18.1.27:2380
      - ETCD_INITIAL_CLUSTER=etcd1=http://10.18.1.27:2380,etcd2=http://10.18.1.28:2380,etcdvip=http://10.18.1.30:23800
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-token
      - ETCD_INITIAL_CLUSTER_STATE=${ETCD_CLUSTER_STATE:-existing}
      - ETCD_CLIENT_CERT_AUTH=true
      - ETCD_PEER_CLIENT_CERT_AUTH=true
    command: /usr/local/bin/etcd
    volumes:
      - ./data/etcd1:/etcd-data
      - ./logs:/var/log/etcd
    network_mode: host
    # ports:
    #   - "2379:2379"
    #   - "2380:2380"
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 10s
      timeout: 5s
      retries: 3

  etcdvip:
    image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/etcd:latest
    container_name: etcdvip
    restart: unless-stopped
    environment:
      - ETCD_NAME=etcdvip
      # - ETCD_DATA_DIR=/etcd-data
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:23790
      - ETCD_ADVERTISE_CLIENT_URLS=http://10.18.1.30:23790
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:23800
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://10.18.1.30:23800
      - ETCD_INITIAL_CLUSTER=etcd1=http://10.18.1.27:2380,etcd2=http://10.18.1.28:2380,etcdvip=http://10.18.1.30:23800
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-token
      - ETCD_INITIAL_CLUSTER_STATE=${ETCD_CLUSTER_STATE:-existing}
      - ETCD_CLIENT_CERT_AUTH=true
      - ETCD_PEER_CLIENT_CERT_AUTH=true
      - ETCD_LEARNER=true
    command: 
      - /usr/local/bin/etcd
      - --force-new-cluster=false
    # volumes:
    #   - ./data/etcdvip:/etcd-data
    #   - ./logs:/var/log/etcd
    network_mode: host
    # ports:
    #   - "2379:2379"
    #   - "2380:2380"
    healthcheck:
      test: ["CMD", "etcdctl", "--endpoints=http://127.0.0.1:23790", "endpoint", "health"]
      interval: 10s
      timeout: 5s
      retries: 3

  # etcd-proxy:
  #   image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/etcd:latest
  #   container_name: etcd-proxy
  #   restart: unless-stopped
  #   command: >
  #     /usr/local/bin/etcd
  #     grpc-proxy start
  #     --endpoints=http://10.18.1.27:2379,http://10.18.1.28:2379
  #     --listen-addr=0.0.0.0:22379
  #     --advertise-client-url=http://10.18.1.27:22379
  #   network_mode: host
  #   # ports:
  #   #   - "22379:22379"
  #   depends_on:
  #     - etcd
  #   healthcheck:
  #     test: ["CMD", "etcdctl", "--endpoints=http://127.0.0.1:22379", "endpoint", "health"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 3
      