
services:
  mysql:
    image: registry.cn-hangzhou.aliyuncs.com/10_18_1_2_5000/mysql:8.0 
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: s<9!Own1z4
    command:
      - --server-id=2 # 唯一的服务器ID，主库为1，从库为2及以上
      - --log-bin=mysql-bin
      - --binlog-format=ROW
      - --expire-logs-days=7
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --log-slave-updates=ON
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --bind-address=0.0.0.0
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./logs:/var/log/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-ps<9!Own1z4"]
      interval: 10s
      timeout: 5s
      retries: 5
